{% extends 'layout.html' %}
{% block content %}

<style type="text/css">
        .chart rect {
            fill: steelblue;
          }
          
          .chart text {
            fill: white;
            font: 10px sans-serif;
            text-anchor: end;
          }

          .bar {
            fill: steelblue;
          }
          
          .bar:hover {
            fill: brown;
          }
          
          .axis--x path {
            display: none;
          }
          .slice text {
            font-size: 16pt;
            font-family: Arial;
        }   
</style>


{# <div class="petition-header" style="background-image: url({{ petition.bannerimage }});"> #}
<div class="petition-header" style="background-color:#202c41 ;">
    <div class="light-shade">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="h1 section-heading section-heading-white" style="color:white; background:#202c41;" align="center">Citizen Reviews Analysis</h2>
                    <div class="progress-wrapper progress-wrapper-white">
                        <div class="progress small">
                            <div class="value"></div>
                        </div>
                        
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="sgnature-listing-area" style="padding:10px;">
    <div class="container" >
        <div class="row">
            <div class="col-xs-12 text-center" style="padding:10px;">
                <h3 class="section-heading heading-no-top-margin">Signatures</h3>
                <div class="h-line"></div>
            </div>
        </div>
        <div class="signed-petitions" >
        </div>
        </div>
    </div>
</div>

<div class="row" style="margin:20px;" >
        <div class="container" style="border-style: outset;padding:10px 50px 10px 50px;"  >
           
              <h5 align="center">
                PIE CHART : The Following Graph presents a graphical representation of the sentiments of the reviews posted by the citizens.
              </h5>
            <div id="pie" >
            </div>
        </div>
</div>     
<div class="row" style="margin:20px;" >
        <div class="container" style="border-style: outset;padding:10px 50px 10px 50px;" >
            <header>
              <h5>
               BAR GRAPH : The Following Graph presents a graphical representation of the sentiments of the reviews posted by the citizens.
              </h5>
            </header>
            
            <div id="charts" >
                <!-- <svg width="800" height="400"></svg> -->
            </div>
        </div>
</div> 







</main>


{% endblock %}

{% block scripts %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js" ></script>
<script src="https://d3js.org/d3.v4.js"></script>

<script>

$('#signatureform').submit(function(e){
    e.preventDefault();

    $.ajax({
        url : '/sign-petition',
        method: 'POST',
        data : $('#signatureform').serialize(),
        success : function(data){
            console.log(data);
            alert('Petition signed!');
        },
        error: function(error){
            console.log("error", error.responseText);
        }
    })
})


    $.ajax({
        url : '/get-comments/{{ petition.id }}/0',
        method: 'GET',
        success : function(data){
            console.log(data);
            data = JSON.parse(data);

            $('.signed-petitions').append('<div class="row" id="signatures_cards" style="border-style: outset;padding:10px 50px 10px 50px;" ></div>');
            $('.signed-petitions .row').append('<div class="col-xs-6 col-sm-6 col-md-6 positive-comments"><h3 style="color:green;">Postive/Neutral Comments<h3/></div');
            $('.signed-petitions .row').append('<div class="col-xs-6 col-sm-6 col-md-6 negative-comments"><h3 style="color:red;">Negative Comments<h3/></div');
            data.forEach(function(comment){
                if(comment.score >= 0){
                    $('.signed-petitions .row .positive-comments').append(
                        '<div class="sign-card"  style="height:180px;">' +
                            '<div class="thumb-photo">' +
                                '<img src="'+ comment.gravatar_url.replace(/\\\//g, "/") +'" class="img-responsive" alt="signer-photo">' +
                            '</div>' +
                            '<div class="signers-info">' +
                                '<h5>'+ comment.username +'</h5>' +
                                '<p class="date-time">'+ comment.date +'<span class="pull-right">#'+ comment.count +'</span></p>' +
                                '<p class="message">'+ comment.comment +'<span class="pull-right"><i class="fa fa-circle" style="padding-top: 10px; color:'+ (comment.score > 0 ? 'green' : (comment.score == 0 ? 'inherit' : 'red')) + ';"></i></span></p>' +
                            '</div>' +
                        '</div>'
                    );
                }
                else{
                    $('.signed-petitions .row .negative-comments').append(
                        '<div class="sign-card" style="height:180px;">' +
                            '<div class="thumb-photo">' +
                                '<img src="'+ comment.gravatar_url.replace(/\\\//g, "/") +'" class="img-responsive" alt="signer-photo">' +
                            '</div>' +
                            '<div class="signers-info">' +
                                '<h5>'+ comment.username +'</h5>' +
                                '<p class="date-time">'+ comment.date +'<span class="pull-right">#'+ comment.count +'</span></p>' +
                                '<p class="message">'+ comment.comment +'<span class="pull-right"><i class="fa fa-circle" style="padding-top: 10px; color:'+ (comment.score > 0 ? 'green' : (comment.score == 0 ? 'inherit' : 'red')) + ';"></i></span></p>' +
                            '</div>' +
                        '</div>'
                    );
                }
                
            })
        },
        error: function(error){
            console.log("error", error.responseText);
        }
    })

</script>
<!--BAR CHARTS-->
<script>
    
    $.ajax({
        url : '/get-comments/{{petition.id}}/0',
        method: 'GET',
        success : function(data){
            
            data = JSON.parse(data);
            //console.log(data)
            var pos = 0;
            var neg = 0;
            var net = 0;

            var s;
            var m;

           var ids = data.map(function(d){
               return d.comment;
           })
           var mag = data.map(function(d){
            return d.magnitude;
        })
           console.log(ids,mag);

            /*data = [
            {"label":d[m], "value":d[s]},
            {"label":d[m], "value":d[s]},
            {"label":d[m], "value":d[s]}
         ]*/
            //console.log(data)
           

            

            var trace1 = {
                x: ids,
                y: mag,
                name: 'Positive',
                type: 'bar'
              };
              
              /*var trace2 = {
                x: ids,
                y: data.map(function(d){
                    return d.label;
                }),
                name: 'Negative',
                type: 'bar'
              };

              var trace3 = {
                x: data.map(function(d){
                    return d.value;
                }),
                y: data.map(function(d){
                    return d.label;
                }),
                name: 'Neutral',
                type: 'bar'
              };*/
              
              var data = [trace1];
              
              var layout = {barmode: 'stack'};
              
              Plotly.newPlot('charts', data, layout);

        },
        error: function(error){
            console.log("error", error.responseText);
        }
    }) 
</script>

<!--<script>
        var svg = d3.select("svg"),
        margin = {top: 20, right: 20, bottom: 30, left: 40},
        width = +svg.attr("width") - margin.left - margin.right,
        height = +svg.attr("height") - margin.top - margin.bottom;
    
    var x = d3.scaleBand().rangeRound([0, width]).padding(0.1),
        y = d3.scaleLinear().rangeRound([height, 0]);
    
    var g = svg.append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
    
    
    $.ajax({
        url : '/get-comments/{{petition.id}}/0',
        method: 'GET',
        success : function(data){
            console.log(data);
            data = JSON.parse(data);

            //$('charts').append('<svg width="960" height="500"></svg>');
            
            x.domain(data.map(function(d) { return d.id; }));
            y.domain([0, d3.max(data, function(d) { return d.magnitude; })]);
          
            g.append("g")
                .attr("class", "axis axis--x")
                .attr("transform", "translate(0," + height + ")")
                .call(d3.axisBottom(x));
          
            g.append("g")
                .attr("class", "axis axis--y")
                .call(d3.axisLeft(y))
              .append("text")
                .attr("transform", "rotate(-90)")
                .attr("y", 6)
                .attr("dy", "0.71em")
                .attr("text-anchor", "end")
                .text("Magnitude");
          
            g.selectAll(".bar")
              .data(data)
              .enter().append("rect")
                .attr("class", "bar")
                .attr("x", function(d) { return x(d.id); })
                .attr("y", function(d) { return y(d.magnitude); })
                .attr("width", x.bandwidth())
                .attr("height", function(d) { return height - y(d.magnitude); });
         
          function type(d) {
              d.value = +d.value; // coerce to number
              return d;
            }
        },
        error: function(error){
            console.log("error", error.responseText);
        }
    }) 


     
</script>-->



<!--PIE CHARTS-->
<script type="text/javascript">
    
     $.ajax({
         url: '/get-comments/{{petition.id}}/0',
         method: 'GET',
         success: function(data){
         
            
                  data = JSON.parse(data);
                  var pos = 0;
                  var neg = 0;
                  var net = 0;
                  var sum = 0;
     
                  data.forEach(function(d){
                     
                     if (d.score > 0){
                         pos++;
                         sum++;
                     }
                     if (d.score < 0){
                         neg++;
                         sum++;
                     }
                     if (d.score == 0){
                         net++;
                         sum++;
                     }
                     
                  })
                  
                  data = [
                     {"label":"Postive", "value":(pos)},
                     {"label":"Negative", "value":(neg)},
                     {"label":"Neutral", "value":(net)}
                 ]   
 
                
 
                 var data = [{
                     values: data.map(function(d){
                         return d.value;
                     }),
                     labels: data.map(function(d){
                         return d.label;
                     }),
                     type: 'pie',
     
                   }];
                   
                   var layout = {
                     height: 600,
                     width: 800
                   };
                   
 
 
                  Plotly.newPlot('pie', data,layout);
 
         } 
     })

 </script>
 

{% endblock %}