{% extends 'layout.html'%}
{% block content %}
	<header id="header">
		<div class="container">
			<div class="row">
				<nav class="navbar ">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar-collapse" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="index-2.html">
							<!--<i class="fa fa-envelope-open" aria-hidden="true"></i> PetitionZ-->
							<img src="assets/img/petitionz-logo.png" alt="petitionz-logo" />
						</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="header-navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li class="active"><a href="index-2.html">Home</a></li>
							<li>
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Petitions<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="single-petition.html">Single Petition</a></li>
									<li><a href="create-petition.html">Create Petition</a></li>
									<li><a href="petition-listing.html">Petition Listing</a></li>
									<li><a href="petition-listing-three-col.html">Petition Listing (3 col)</a></li>
								</ul>
							</li>
							<li>
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Writings<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="blog-list.html">Blog Listing</a></li>
									<li><a href="blog-list_nohead.html">Blog Listing(Without Background Heading)</a></li>
									<li><a href="blog.html">Single Blog</a></li>
									<li><a href="blog-left-sidebar.html">Blog - Left sidebar</a></li>
									<li><a href="blog-right-sidebar.html">Blog - Right sidebar</a></li>
									<li><a href="typography.html">Typography</a></li>
									<li><a href="404.html">404 - Page</a></li>
								</ul>
							</li>
							<li><a href="contact.html">Contact</a></li>
							<li><a href="login.html">Sign In</a></li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</nav>
			</div>
		</div>
	</header>


	<div class="blog-listing-header">
		<div class="light-shade">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h1 class="h1 section-heading section-heading-white">Create a Petition</h1>
					</div>
				</div>
			</div>
		</div>
	</div>

	<form action="http://codeboxr.net/themedemo/petitionz/html/create-petition.html" id="createpetitionform" class="petition-form" method="POST"	novalidate="novalidate" enctype="multipart/form-data">
		<div class="petition-entry-details">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-10 col-md-offset-1">
						<div class="create_petition_section petition-basic" id="petition-basic">
							<h3>The Petition</h3>
							<div class="form-group">
								<input type="text" required="required" data-rule-minlength="20" placeholder="Petition Title" id="petition-title"
										class="form-control half" name="petition-title" />
							</div>
							<div class="form-group">
								<input type="text" required="required"  placeholder="Signature Target" id="target"
										class="form-control half" name="target" />
							</div>
							<div class="form-group">
                                <textarea class="form-control" required data-rule-minlength="100" name="petition-description" id="petition-details"
		                                cols="30" rows="8"
		                                placeholder="Write about the petition in details"></textarea>
							</div>
						</div>
						<script id="petition-media-photos-template" type="text/x-tmpl-mustache">
									<div class="col-xs-12 col-md-3 banner-media-parent">
										<div class="banner banner-media form-group" style="background: transparent url({{fileurl}}) no-repeat center; background-size: 100% 100% ;">
											<input name="mediaphotos[]" value="{{fileurl}}"  type="hidden" class="form-control petition-media-photo"  />
											<a href="#" class="media-delete"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
											<span class="banner-media-drag"><i class="fa fa-bars" aria-hidden="true"></i></span>
										</div>
									</div>
								</script>
						<div class="create_petition_section media-items" id="media-items">
							<h3>Media Items <span>(Optional)</span></h3>
							<div class="banner form-group" id="petitionbannerwrap">
								<input type="file" class="form-control" id="petition-banner" />
								<label for="petition-banner"><i class="fa fa-plus" aria-hidden="true"></i> Add Banner</label>
							</div>
							<div class="form-group">
								<input type="text" placeholder="Featured video URL" id="video-url" class="form-control half" name="video-url" />
							</div>
							<div class="form-group">
								<input type="text" placeholder="A headline for the video" id="video-title"   class="form-control half" name="video-title" />
							</div>
							<div class="form-group">
									<textarea class="form-control" name="video-description" id="video-details"
											  cols="30" rows="6"
											  placeholder="Write details about the video"></textarea>
							</div>
							<div class="form-group text-left">
									<span class="btn btn-success fileinput-button">       <i class="fa fa-plus"></i><span> Add Photo</span>
										<input id="petition-media-trig" type="file"  data-maxcount="4" data-count="0" multiple="" />
									</span>
							</div>

							<div class="row" id="petition-media-photos">

							</div>
						</div>
						<script id="petition-letters-template" type="text/x-tmpl-mustache">
                                    <div class="petition-letter-person">
                                    	<a href="#" class="delete-petition-letter-drag" aria-label="Drag"><i class="fa fa-bars" aria-hidden="true"></i></a>
										<a href="#" class="delete-petition-letter" aria-label="Close"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a>
										<div class="form-group">
										
											<input type="text" required="required" placeholder="Recipient"
													id="petition-recipient-name-{{count}}" class="form-control half" name="petition-recipient[{{count}}][name]" />
										</div>
										<div class="form-group">
											<input type="text" required="required" placeholder="Recipient's Designation"
													id="petition-recipient-designation-{{count}}" class="form-control half"
													name="petition-recipient[{{count}}][designation]" />
										</div>
									</div>

								</script>
						<div class="create_petition_section petition-letters" id="petition-letters">
							<h3>The Letter</h3>
							<div class="form-group">
                                            <textarea class="form-control" name="petition-letter" id="petition-letter"
													  cols="30" rows="8"  placeholder="Write a letter with this petition"></textarea>
							</div>
							<div id="petition-letters-blocks" data-count="1">
								<div class="petition-letter-person">
									<a href="#" class="delete-petition-letter-drag" aria-label="Drag"><i class="fa fa-bars" aria-hidden="true"></i></a>
									<a href="#" class="delete-petition-letter" aria-label="Close"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a>
									<div class="form-group">
										<input type="text" required="required" placeholder="Recipient"
											   id="petition-recipient-name-0" class="form-control half" name="petition-recipient[0][name]" />
									</div>
									<div class="form-group">
										<input type="text" required="required" placeholder="Recipient's Designation"
											   id="petition-recipient-designation-0" class="form-control half"
											   name="petition-recipient[0][designation]" />
									</div>
								</div>

							</div>

							<div class="form-group text-right">
								<a  href="#" class="btn btn-brand petition-letter-trig"><i class="fa fa-plus" aria-hidden="true"></i>
									Add Recipient</a>
							</div>

						</div>
						<script id="petition-updates-template" type="text/x-tmpl-mustache">
                                    <div class="petition-update">
                                        <a href="#" class="delete-petition-update-drag" aria-label="Close"><i class="fa fa-bars" aria-hidden="true"></i></a>
										<a href="#" class="delete-petition-update" aria-label="Close"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a>
                                        <div class="form-group">
                                            <input type="text"
                                                   placeholder="Updates or News title-{{count}}" id="newsupdates-title-{{count}}"
                                                   class="form-control" name="newsupdates[{{count}}][title]">
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control" name="newsupdates[{{count}}][text]"
                                                      id="newsupdates-text-0" cols="30" rows="6"
                                                      placeholder="Details about the updates"></textarea>
                                        </div>
                                    </div>

								</script>
						<div class="create_petition_section petition-updates" id="petition-updates">
							<h3>Updates <span>(Optional)</span></h3>
							<div id="petition-updates-wrap" data-count="1">
								<div class="petition-update">
									<a href="#" class="delete-petition-update-drag" aria-label="Close"><i class="fa fa-bars" aria-hidden="true"></i></a>
									<a href="#" class="delete-petition-update" aria-label="Close"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a>
									<div class="form-group">
										<input type="text"
											   placeholder="Updates or News title" id="newsupdates-title-0"
											   class="form-control newsupdates-title" name="newsupdates[0][title]">
									</div>
									<div class="form-group">
                                                <textarea class="form-control newsupdates-text" name="newsupdates[0][text]"
														  id="newsupdates-text-0" cols="30" rows="6"
														  placeholder="Details about the updates"></textarea>
									</div>
								</div>
							</div>
							<div class="form-group text-right">
								<a href="#" class="btn btn-brand petition-updates-trig"><i class="fa fa-plus"
																						   aria-hidden="true"></i>
									Add Updates</a>
							</div>
						</div>
						<div class="create_petition_section create_petition_form_action" id="create_petition_form_action">
							<p class="text-center">
								<button type="submit" class="btn btn-brand btn-cta" id="createpetitionBtn"> Create
								</button>
							</p>
						</div>

					</div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}